SELFSHARE_DB_URL=jdbc:mysql://localhost:3306/selfshare_db?createDatabaseIfNotExist=true&serverTimezone=UTC
SELFSHARE_DB_USERNAME=root
SELFSHARE_DB_PASSWORD=your_mysql_password

SELFSHARE_MAIL_HOST=sandbox.smtp.mailtrap.io
SELFSHARE_MAIL_PORT=2525
SELFSHARE_MAIL_USERNAME=your_mailtrap_username
SELFSHARE_MAIL_PASSWORD=your_mailtrap_password

SELFSHARE_ADMIN_USERNAME=admin
SELFSHARE_ADMIN_PASSWORD=choose_a_strong_password
